body{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  background-color: black;
  width:25em;
  height: 27em;
  border: 1em black;
  
}

input{
width:24.5rem;
font-size: 2rem;
height: 5rem;
background-color: #383838;
color:white;
text-align: end;
}

.buttonarea{
  display: flexbox;
  flex-flow: row wrap;
  justify-content: center;
  margin:2px;

}

.button{
  width:6.25em;
  height: 4.33em;
  background-color: #202020;
  font-size: 1em;
  border-color:#101010;
  border-radius: 10%;
  color: white;
}

.clear_btn{
  width:50%;
}

